---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}

  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<br/>

  <ul>
    <li>
      Alene Arega D., Khataza R., Chibwana C., Ntawuruhunga P., & Moyo C. (2013). 
      <i>Economic impacts of cassava research and extension in Malawi and Zambia.</i> 
      <b>Journal of Development and Agricultural Economics.</b> 
      <a href="https://dx.doi.org/10.5897/JDAE2013.0496" target="_blank">https://dx.doi.org/10.5897/JDAE2013.0496</a>
    </li>
    <li>
      Khataza, R.R.B, Hailu A., Kragt M.E., Doole G.J. (2017). 
      <i>Estimating shadow price for symbiotic nitrogen and technical efficiency for legume-based conservation agriculture in Malawi.</i> 
      <b>Australian Journal of Agricultural and Resource Economics, 61:</b> 462–480. 
      <a href="http://dx.doi.org/10.1111/1467-8489.12212" target="_blank">http://dx.doi.org/10.1111/1467-8489.12212</a>
    </li>
    <li>
      Khataza, R.R.B, Doole G.J., Kragt M.E., Hailu A. (2018). 
      <i>Information acquisition, learning and the adoption of conservation agriculture in Malawi: a discrete-time duration analysis.</i> 
      <b>Journal of Technological Forecasting and Social Change, 132:</b> 299–307. 
      <a href="https://doi.org/10.1016/j.techfore.2018.02.015" target="_blank">https://doi.org/10.1016/j.techfore.2018.02.015</a>
    </li>
    <li>
      Khataza, R.R.B., Hailu A., Doole G.J., Kragt M.E., Alene A.D. (2019). 
      <i>Examining the relationship between farm size and efficiency: a Bayesian directional distance function approach.</i> 
      <b>Agricultural Economics, 50(2):</b> 237–246. 
      <a href="https://doi.org/10.1111/agec.12480" target="_blank">https://doi.org/10.1111/agec.12480</a>
    </li>
    <li>
      Khataza RRB (2024). 
      <i>Preferences for urban greenspace functions during public health pandemics. Empirical evidence from Malawi.</i> 
      <b>Urbanization, Sustainability and Society, 1(1):</b> 63–77. 
      <a href="https://doi.org/10.1108/USS-11-2023-0015" target="_blank">https://doi.org/10.1108/USS-11-2023-0015</a>
    </li>
    <li>
      Mazungwi, B., Njoloma, J., Khataza, R., & Mwase, W. (2024). 
      <i>Why do farmers wait so long before adopting fruit tree-based agroforestry technologies in Malawi? An application of hazard duration analysis.</i> 
      Accepted in <b>Agroforestry Systems</b>. 
      <a href="https://doi.10.21203/rs.3.rs-3875033/v1" target="_blank">https://doi.10.21203/rs.3.rs-3875033/v1</a>
    </li>
    <li>
      Haswell, C., & Khataza, R. (2024). 
      <i>Can ICT-enabled knowledge acquisition bridge the gap in enhancing the adoption of multipurpose agroforestry tree species (MPTS) in Malawi?</i> 
      <b>Agroforestry Systems, 98(6),</b> 1605–1617. 
      <a href="https://doi.org/10.1007/s10457-024-01033-3" target="_blank">https://doi.org/10.1007/s10457-024-01033-3</a>
    </li>
  </ul>
